<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>Hello Linkedin</title>
</head>
<body>
  <div class="container">
    <!--/*@thymesVar id="profile" type="org.springframework.social.linkedin.api.LinkedInProfile"*/-->
    <h3>Hello,<span th:text="${profile.firstName}">Some User</span>!</h3> <br/>
    <span th:text="${profile.firstName}">Some User</span><br/>
    <span th:text="${profile.lastName}">Some User</span><br/>
    <span th:text="${profile.emailAddress}">Some User</span><br/>
    <img th:src="${profile.profilePictureUrl}">That's me</img><br/>
  </div>
</body>
</html>