<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
	<title>Hello Facebook</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
</head>
<body>
<h2>Hello, <span th:text="${facebookProfile.firstName}">Some User</span>!</h2>

<h3>You agreed for the following permissions</h3>

<div class="container" th:if="${userPermissions != null}">
	<table class="table">
		<thead>
		<tr>
			<th>Permission Name</th>
			<th>Permission Status</th>
		</tr>
		</thead>
		<tbody>
		<tr class="success" th:each="item : *{userPermissions}" >
			<td th:text="${item.name}">John</td>
			<td th:text="${item.status}">Doe</td>
		</tr>
		</tbody>
	</table>
</div>

<br/>

<a href="/places">Link to places you have visitedr</a>
</body>
</html>