<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>Hello Facebook</title>
</head>
<body>
<!--/*@thymesVar id="facebookProfile" type="org.springframework.social.facebook.api.User"*/-->
<h3>Hello,<span th:text="${facebookProfile.getFirstName()}">Some User</span>!</h3>

<h4>Here your last visits:</h4>

<div th:if="${taggedPlaces != null}">
    <h1>Result</h1>
    <div class="container">
        <div class="list-group" th:each="item : *{taggedPlaces}" >
            <a href="#" class="list-group-item active" th:text="${item.place.name}" >First item</a> <br/>
        </div>
    </div>
</div>
</body>
</html>